APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:/kFRsUIMZGrD/5L8shedmUjKb77EqXh6t+eY+nrTdyg=
APP_DEBUG=false
APP_URL=https://yenbinhmanagement.vn

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=yenbinh_db
DB_USERNAME=yenbinh_admin
DB_PASSWORD=Bbcg@3972

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nthung.nvit.yenbinh@gmail.com
MAIL_PASSWORD=scjhsxtonkdhdnko
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="nthung.nvit.yenbinh@gmail.com"
MAIL_FROM_NAME="${YB-MANAGER}"

# upload file SUPABASE
SUPABASE_URL=oxpdcxxfsqhlyzslkqnq
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94cGRjeHhmc3FobHl6c2xrcW5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzYwNDYxNCwiZXhwIjoyMDU5MTgwNjE0fQ.VgVvIVfkUIvigst5bk1YzbMUN5yE6ETT7btzNXH9f9A
SUPABASE_STORAGE_BUCKET=images

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=3y8pHeM7eMuqodYEOqJN7rxF4sKAxlNXD2wvjsFIiYfCprlkbnzE2iHfhj6sdApH
